DATABASE_URL="file:./dev.db"

# Seed admin credentials (used by `npm run prisma:seed`)
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="Admin12345!"

# NextAuth
NEXTAUTH_SECRET="change-me-to-a-long-random-string"

# If you deploy, set NEXTAUTH_URL accordingly
# NEXTAUTH_URL="http://localhost:3000"

